build/
*.o
*.obj
*.exe
__pycache__/
*.pyc
.venv/
venv/
data/input/*
!data/input/.gitkeep
data/output/*
!data/output/.gitkeep
*.pyd
.DS_Store
*.egg-info/
django_app/db.sqlite3
backend/django_app/media/uploads/*
!backend/django_app/media/uploads/.gitkeep
backend/django_app/media/outputs/*
!backend/django_app/media/outputs/.gitkeep